{% extends "base_2.html" %}
{% load time_chinese %}
{% load crispy_forms_tags %}


<style>
{% block style %}
.reply_comment {
	display: none;
}

.commentthread {
	background-color: #fff;
	margin-top: 10px;
	margin-bottom: 100px;
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 4px;
}

.btn-primary {
	color: #fff;
	background-color: #5cb85c;
	border-color: #5cb85c;
}
{% endblock %}
</style>


<script>
{% block jquery %}
$('.reply_btn').click(function(e){
	e.preventDefault();
	$(this).next(".reply_comment").fadeToggle();
	// $(".reply_comment").fadeToggle();
})
{% endblock %}
</script>



{% block content %}
<div class='commentthread'>
<a href="{{ comment.get_origin }}"><h4 style="margin-left: 8px;">返回课程</h4></a>
<table class='table'>
<tr><td><strong>{{ comment.user }}&nbsp;</strong>

<small style='color: #757575;'> {{ comment.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank }}前 :</small><br>
{{ comment.get_comment }} 
				{% if not comment.is_child %}
				<ul>
				{% for child in comment.get_children %}
				<!--回复子评论-->
				{% if  child.get_reponse  %}
				<li><strong>{{ child.user }} </strong>
				<small style='color: #757575;'>回复</small>
				<strong>{{ child.get_reponse }}</strong>
				<small style='color: #757575;'> {{ child.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank }}前 :</small>
				<!--回复楼主-->
				{% else %}
				<li><strong>{{ child.user }}</strong>
				<small style='color: #757575;'> {{ child.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank }}前 :</small>
				{% endif %}
				{{ child.get_comment }} 

				<a href='#' class='reply_btn'>回复</a>
				<div class='reply_comment'>
				<form method="POST" action='{% url "comment_create" %}'>{% csrf_token %}
				<input type='hidden' name='parent_id' value='{{ comment.id }}' />
				<input type='hidden' name='reponse_id' value='{{ child.id }}' />

				{% crispy form form.helper %}
				
				</form>
				</div>

				</li>
				{% endfor %}
				</ul>

				<div>
				<form method="POST" action='{% url "comment_create" %}'>{% csrf_token %}
				<input type='hidden' name='parent_id' value='{{ comment.id }}' />
				{% crispy form form.helper %}
				</form>
				</div>
				{% endif %}


</td></tr>


</table>

</div>
{% endblock %}