{% extends "base.html" %}
{% load time_chinese %}
{% load crispy_forms_tags %}


<style>
{% block style %}
.reply_comment {
	display: none;
}
{% endblock %}
</style>


<script>
{% block jquery %}
$('.reply_btn').click(function(e){
	e.preventDefault();
	$(this).next(".reply_comment").fadeToggle();
	// $(".reply_comment").fadeToggle();
})
{% endblock %}
</script>


{% block content %}
<a href="{{ comment.get_origin }}"><h4>返回视频</h4></a>
<table class='table'>
<tr><td><small><font color="#337ab7">{{ comment.user }}</font>:</small>
{{ comment.get_comment }} 
<font color="#337ab7"><small> {{ comment.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour }} 前 </small></font>
				{% if not comment.is_child %}
				<ul>
				{% for child in comment.get_children %}
				<!--如果评论是回应某个子评论的，那么显示被评论的子评论的用户名-->
				{% if  child.get_reponse  %}
				<font color="#337ab7"><li><small> {{ child.user }} </font>回复  <font color="#337ab7">{{ child.get_reponse }}</font>: </small>
				<!--反之直接显示子评论即可-->
				{% else %}
				<li><small> <font color="#337ab7">{{ child.user }}</font>: </small>
				{% endif %}
				{{ child.get_comment }} 

				<a href='#' class='reply_btn'>回复</a>
				<div class='reply_comment'>
				<form method="POST" action='{% url "comment_create" %}'>{% csrf_token %}
				<input type='hidden' name='parent_id' value='{{ comment.id }}' />
				<input type='hidden' name='reponse_id' value='{{ child.id }}' />

				{% crispy form form.helper %}
				
				</form>
				</div>

				</li>
				{% endfor %}
				</ul>

				<div>
				<form method="POST" action='{% url "comment_create" %}'>{% csrf_token %}
				<input type='hidden' name='parent_id' value='{{ comment.id }}' />
				{% crispy form form.helper %}
				</form>
				</div>
				{% endif %}


</td></tr>


</table>

<div class='return'>
<h1>回复</h1></br>
<h1>回复</h1></br>
</div>

{% endblock %}