{% extends "base_3.html" %}
{% load future %}

{% block title %}{% endblock %}


<style>
{% block style %}




{% endblock %}
</style>


{% block content %}

<div class='row' style='margin-top:2%;'>
<div class='col-sm-12'>
<div class='center'>
<h1>课程一览</h1>
<div class='col-sm-12 '>
<br/>
</div>
</div>
</div>
</div>


<div class='row class-informantion'>
<div class='center'>

{% for item in queryset %}
<div class='col-sm-4'>
<a href='{{ item.get_absolute_url }}'><img src='{{ item.get_image_url }}' height="175" width="300" class="img-rounded" /></a> <br/>
<a href='{{ item.get_absolute_url }}'>{{ item.description }}</a> <br/>

</div>

{% cycle '' '' '<div class=\'col-sm-12\'></div>' %}

{% if forloop.counter|divisibleby:3 %}

<div class='col-sm-12 '>
<br/>
</div>

{% endif %}
{% endfor %}
</div>
</div>

{% endblock %}