{% extends "base_2.html" %}
{% load crispy_forms_tags %}
{% load time_chinese %}
{% block title %}{% endblock %}

<style>
{% block style %}
.reply_comment {
	display: none;
}

#main_video {
/*	text-align:center;*/
	margin-top: 0.8em;
}

.fa-5 {
	font-size: 1.5em;
	/*height: 3em;*/
	 color: #4A4E4A;
	 margin-top: 1px;
}




.btn-primary {
	color: #fff;
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.video-intro{
    background-color: #fff;
    margin-top: 10px;

	border-radius: 4px;
}
.video-intro h3{
	margin-left: 10px;
	margin-top: 6px;
}
.video-intro h5{
	margin-top: 6px;
}
.video_image{
	margin-top: 10px;
	margin-left: 10px;
}

.video-intro hr{
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid #B7AAAA;
	margin-top: 10px;
	margin-bottom: 10px;
}


.jiathis_style_24x24{
	margin-bottom: 10px;
}

.video-browser{
    background-color: #fff;
    margin-top: 0.8em;
	border-radius: 4px;
}

.comment-module{
	background-color: #fff; 
	margin-top: 15px; 
	border-radius: 4px;
}

.form-control{
	/*width: 50%;*/
}

.textarea.form-control {
	height: 60px;
}

{% endblock %}
</style>


<script>
{% block jquery %}
$('.reply_btn').click(function(e){
	e.preventDefault();
	$(this).next(".reply_comment").fadeToggle();
	// $(".reply_comment").fadeToggle();
})
{% endblock %}
</script>





{% block content %}
<div class='row'><!-- 总row模块 -->
<div class='col-sm-9' id='main_video'><!-- 视频模块 -->
<video width="100%"  controls="controls">
  <source src={{ obj.url_address|safe  }} >
</video>


<div class='col-sm-12 video-intro'><!-- 视频介绍模块 -->
<h3>{{ obj.title }}</h3>

<a class='video_image' href='{{ obj.category.get_absolute_url }}'><img src='{{ obj.category.get_image_url }}'  high="80" width="150" class="img-rounded" /></a> <br/>
<!-- <a href='{{ obj.category.get_absolute_url }}'>{{ obj.category.description }}</a> <br/> -->
<hr>

<div class="col-sm-6 jiathis_style_24x24"><!-- 视频分享-->
<!-- 	<span class="jiathis_txt"><h5>分享到：</h5></span> -->
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_tqq"></a>
	<a class="jiathis_button_weixin"></a>
	<a class="jiathis_button_renren"></a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">&nbsp;</a>
</div><!-- 视频分享-->
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>

<div class='col-sm-6' style='text-align:right;'><!-- 视频前进后退 -->
{% if obj.get_previous_url %}
<!-- <a href='{{ obj.get_previous_url }}'><i class="fa fa-step-backward fa-5"></i></a> -->
<a href='{{ obj.get_previous_url }}'><span   data-toggle="tooltip" data-placement="left" title="转到上一课"><i class="fa fa-step-backward fa-5"></i></span></a>
{% endif %}

{% if obj.get_next_url %}	
<!-- <a href='{{ obj.get_next_url }}' ><i class="fa fa-step-forward fa-5"></i></a> -->
<a href='{{ obj.get_next_url }}'><span   data-toggle="tooltip" data-placement="right" title="转到下一课"><i class="fa fa-step-forward fa-5"></i></span></a>
{% endif %}

</div><!-- 视频前进后退 -->
</div><!-- 视频介绍模块 -->


<div class='col-sm-12 comment-module' ><!-- 评论模块 -->
<h5>评论/提问</h5>
<form method="POST" action='{{ obj.get_absolute_url }}'>{% csrf_token %}
<input type='hidden' name='video_id' value='{{ obj.id }}'/>
<input type='hidden' name='origin_path' value='{{ request.get_full_path }}'/>
{% crispy comment_form comment_form.helper %}
</form>


<br/>
<!-- 显示当前评论 -->
<table class='table'>
<h5>同学们都在说:</h5>
{% for comment in comments %}
<!-- 显示当前父评论的评论内容 -->

<tr><td>
<strong>{{ comment.user }}&nbsp;</strong>
<small style='color: #757575;'> {{ comment.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank }}前 :</small><br>
{{ comment.get_comment }} 
<!-- 发表评论内容的用户名和发表时间 -->

				<!-- 如果评论不是一个子评论 -->
				{% if not comment.is_child %}
				<ul>
				<!-- 显示该评论所有的子评论 -->
				{% for child in comment.get_children %}

				<!--回复子评论-->
				{% if  child.get_reponse  %}
				<li><strong>{{ child.user }} </strong>
				<small style='color: #757575;'>回复</small>
				<strong>{{ child.get_reponse }}</strong>
				<small style='color: #757575;'> {{ child.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank }}前 :</small>

				<!--回复楼主-->
				{% else %}
				<li><strong>{{ child.user }}</strong>
				<small style='color: #757575;'> {{ child.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank }}前 :</small>
				{% endif %}
				<br>
				<!-- 显示子评论内容 -->
				{{ child.get_comment }} 
				<!--回复子评论的reply与表-->
				
				<a href='#' class='reply_btn'>回复</a>
				<div class='reply_comment'>
				<form method="POST" action='{{ obj.get_absolute_url }}'>{% csrf_token %}
				<input type='hidden' name='video_id' value='{{ obj.id }}'/>
				<input type='hidden' name='origin_path' value='{{ comment.get_origin }}'/>
				<input type='hidden' name='parent_id' value='{{ comment.id }}' />
				<input type='hidden' name='reponse_id' value='{{ child.id }}' />

				{% crispy comment_form comment_form.helper %}
				
				</form>
				</div>

				</li>
				{% endfor %}
				</ul>


				<!-- 回复父评论的按钮以及表格-->
				<a href='{{ comment.get_absolute_url }}'>浏览此回复</a> | <a href='#' class='reply_btn'>回复</a>
				<div class='reply_comment'>
				<form method="POST" action='{{ obj.get_absolute_url }}'>{% csrf_token %}
				<input type='hidden' name='video_id' value='{{ obj.id }}'/>
				<input type='hidden' name='origin_path' value='{{ comment.get_origin }}'/>
				<input type='hidden' name='parent_id' value='{{ comment.id }}' />
				{% crispy comment_form comment_form.helper %}
				
				</form>
				</div>
				{% endif %}
</td></tr>
{% endfor %}
</table>
</div><!-- 评论模块 -->
</div><!-- 视频模块 -->


<!-- 播放列表 -->
<div class='col-sm-3 video-browser'>
{% if queryset %}
<table class='table'>
<thead>
<th>播放列表</th>
</thead>
{% for item in queryset %}
<tr><td>{% if request.user.is_authenticated or item.has_preview %}<a href='{{ item.get_absolute_url }}'>[第{{ forloop.counter }}课] {{ item }}</a> {% else %} {{ item }} {% endif %}</td></tr>
{% endfor %}
</table>
{% if not user.is_authenticated %}
<h3 style='text-align:center;'><!-- 注册即可浏览所有视频 --></h3>
{% endif %}
{% else %}
<h3 style='text-align:center;'>Project is coming soon.</h3>
{% endif %}
</div><!-- 播放列表 -->
</div><!-- 总row模块 -->


<!-- {% if obj.tags.all %}
<div class='col-sm-8'>
<ul>
{% for tag in obj.tags.all %}
<li>{{ tag }}</li>
{% endfor %}
<ul>
</div>
{% endif %} -->

{% endblock %}

