{% extends "base_1.html" %}
{% load time_chinese %}
<style>
{% block style %}

.pagination{
  position: absolute;
    bottom: 1%;
    display: block;
    left: 46%;

   /* margin-top: 400px;*/
}

.table {
    margin-top: 10px;
    width: 70%;
    max-width: 100%;
    margin-bottom: 10px;
}

{% endblock %}
</style>


{% block content %}

{% if notifications %}
<div class='row' style='align:center;'>
<div class="col-sm-10 col-sm-offset-1 ">
<table class='table table-striped' align="center">
<thead>
<th>消息</th>
<th>状态</th>
</thead>
{% for note in notifications %}
<tr><td><strong>{{note.sender_object}}</strong> {{ note|safe }}<small style='color: #757575;'> {{  note.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank }}前</small></td><td>
{% if note.read %} 
已读
{% else %} 
未读
{% endif %}
</td></tr>
{% endfor %}
</table>
</div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if notifications.has_previous %}
            <a href="?page={{ notifications.previous_page_number }}">前一页</a>
        {% endif %}

        <span class="current">
            第 {{ notifications.number }}页,共{{ notifications.paginator.num_pages }}页.
        </span>

        {% if notifications.has_next %}
            <a href="?page={{ notifications.next_page_number }}">后一页</a>
        {% endif %}
    </span>
</div>

{% else %}

<p class='lead'>
This is where your notifications will appear once you have them.
</p>

{% endif %}
{% endblock %}