{% extends "base_3.html" %}
{% load time_chinese %}
<style>
{% block style %}

.pagination{
/*  position: absolute;
    display: block;*/
    /*text-align: center;*/
    margin-left: 38%;

}

.table {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.notification-inbox{
    background-color: #f1f1f1;
    border-radius: 4px;
    height: 450px;
}

.notification-box{
    margin-top: 4%;
    width: 75%;
    /*height: 500px;*/
    margin-left: 9%;
}


.notification-unread-botton{
    color: #fff;
    background-color: #5cb85c;
}


.no-notification-inbox{
    background-color: #f1f1f1;
    border-radius: 4px;
    height: 450px;
}

.fa-4 {
    color: #757575;
    font-size: 7em;
}

{% endblock %}
</style>


{% block content %}

<div class='row notification-box'>

<div class="col-sm-4 side-button">
<ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
      <li role="presentation"><a href="{% url 'notifications_all' %}" class='notification-all-botton'>所有消息</a></li>
      <li role="presentation"><a href="{% url 'notifications_unread' %}" class='notification-unread-botton'>未读消息</a></li>
    </ul>
</div> 

{% if notifications %}
<div class="col-sm-8 notification-inbox">
<table class='table table-striped' align="center">
<thead>
<th style='font-weight: normal;'>消息</th>
<th style='font-weight: normal;'>状态</th>
</thead>
{% for note in notifications %}
<tr><td><strong>{{note.sender_object}}</strong> {{ note|safe }}<small style='color: #757575;'> {{  note.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank }}前</small></td><td>
{% if note.read %} 
已读
{% else %} 
未读
{% endif %}
</td></tr>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if notifications.has_previous %}
            <a href="?page={{ notifications.previous_page_number }}">前一页</a>
        {% endif %}

        <span class="current">
            第 {{ notifications.number }}页,共{{ notifications.paginator.num_pages }}页.
        </span>

        {% if notifications.has_next %}
            <a href="?page={{ notifications.next_page_number }}">后一页</a>
        {% endif %}
    </span>
</div>
</div>

{% else %}
<div class="col-sm-8 no-notification-inbox" style='text-align:center;'>
<div style='margin-top:25%'>
<i class="fa fa-inbox fa-4"></i>
<h4>没有未读消息</h4>
</div>
</div>
{% endif %}

</div>


{% endblock %}