{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}Welcome | {% endblock %}

<style>
{% block style %}


.requiredField {
    font-weight: 600;
}


.requcontrol-label {
    font-weight: 600;
}


.jumbotron {
	background-image: url("http://www.transparenttextures.com/patterns/batthern.png");
	background-color: #005880;
}
.jumbotron h1, .lead-jumbtron {
	color: #fff;
}
.jumbotron li {
	color: #fff;
}
.panel {
	margin-top: 20px;
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  text-align: center;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    /*margin-top: 120px;*/
  }
}
{% endblock %}
</style>


{% block jumbotron %}
<div class='container-fluid'>

<div class="jumbotron">
<div class='container'>
<div class='row'>

<div class='col-sm-7'>
	
<h1>梧桐教育</h1>
<p class='lead-jumbtron'>很有可能是现阶段最好的Django教学网站.</p>
<!--<p class='lead-jumbtron'>Features:-->
<ul>
	<li><p>面向入门</p></li>
	<li><p>由浅入深</p></li>
	<li><p>重在实践</p></li>
</ul>
</p>

</div>
<div class='col-sm-5'>

	<div role="tabpanel">

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs nav-tabs-jumbotron" role="tablist">
	    <li role="presentation" class="active">
	    	<a href="#register" aria-controls="register" role="tab" data-toggle="tab">注册</a></li>
	    <li role="presentation">
	    	<a href="#login" aria-controls="login" role="tab" data-toggle="tab">登录</a></li>
	  </ul>

	  
	  <div class="tab-content">
	  	<!-- 注册表 -->
	    <div role="tabpanel" class="tab-pane active" id="register">

	    <div class="panel panel-jumbotron panel-default">
  <div class="panel-body">
    <form method='POST' action='{% url "register" %}'>{% csrf_token %}
					{{ register_form|crispy}}
					<input class='btn btn-default btn-block btn-lg' type='submit' value='注册'/>
					</form>
					<br/>
						<!-- <p>By registering you agree to our <a href='#'>terms</a></p>-->
  </div>
</div>
					

		<!-- 登录表 -->
	    </div>
	    <div role="tabpanel" class="tab-pane" id="login">
				<div class="panel panel-jumbotron panel-default">
				<div class="panel-body">
				<form method='POST' action='{% url "login" %}'>{% csrf_token %}
				{{ login_form|crispy }}
				<input class='btn btn-default btn-block btn-lg' type='submit' value='登录'/>
				</form>

				</div>
				</div>
	    </div>
	  </div>

	</div>

</div>

</div>
</div>

</div>
</div>
{% endblock %}



{% block content %}


<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

 	<div class="container marketing">

      <div class="row">
      </div>


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-7">
          <h2 class="featurette-heading">课程预览<br/> <br/></h2>

        </div>
        <div class="col-sm-5">
          {% if featured_categories %}
					
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					  {% for cat in featured_categories %}
					    <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.count }}" class="{% if forloop.first %} active {% endif %}"></li>
					    {% endfor %}
					  </ol>

					  <!-- Wrapper for slides -->
					 

					  <div class="carousel-inner" role="listbox">
					   {% for cat in featured_categories %}
					    <div class="item {% if forloop.first %} active {% endif %}">
					    <a href="{{ cat.get_absolute_url }}">
					      <img src="{{ cat.get_image_url }}" class='img-responsive'>
					      </a>
					      <!-- <div class="carousel-caption">
					        <a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a>
					      </div> -->
					    </div>
					    {% endfor %}
					  </div>

					  <!-- Controls -->
					  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
			
				{% endif %}
        </div>
      </div>



      <hr class="featurette-divider">

      <div class="row featurette">

        <div class="col-sm-7">
          <h2 class="featurette-heading">视频预览</h2>
        </div>

        <div class="col-sm-5">
         
				{% if featured_videos %}


				<div class="panel panel-default">
				   <div class="panel-heading">
			    <h3 class="panel-title">示例课程</h3>
			  </div>
				    <table class='table'>
				{% for vid in featured_videos %}
				<tr><td><a href="{{ vid.get_absolute_url }}">{{ vid.title }}</a> {% if vid.free_preview %}{% endif %}</td></tr>
				{% endfor %}
				  
				  </table>
				</div>



				{% endif %}
        </div>

      </div>

      </div>

    

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->






{% endblock %}