{% extends "base_3.html" %}
{% load time_chinese %}

{% block title %}Welcome | {% endblock %}

<style>
{% block style %}
.recentcomment{
	width: 90%;
}

.nav-pills{
	margin-top: 2%;
}

.dashboard{
    color: #fff;
    background-color: #5cb85c;
}

.recentvisit{
	text-align:center;
	background-color: #f1f1f1;
/*	padding-top: 5%;*/
/*	padding-bottom: 5%;*/
	border-radius: 4px;
	height: 260px;

}

.bestcourse{
	text-align:center;
	background-color: #f1f1f1;
/*	padding-top: 5%;*/
/*	padding-bottom: 5%;*/
	border-radius: 4px;
	height: 260px;
}

.table{
	width: 80%;
	margin-left: 10%;
}
{% endblock %}
</style>




{% block content %}

<ul class="nav nav-pills">
  <li role="presentation"><a href="{% url 'home' %}" class="dashboard">我的面板</a></li>
  <li role="presentation"><a href="{% url 'dashboardcomment' %}" class="recentinformation">最近留言</a></li>
</ul>
<hr>

	<div class='row' >
	<!--显示用户最近浏览过的6个视频 -->
	<div class='col-sm-6'>
	<div class='recentvisit' >
	{% if recent_videos %}
			<table class='table'>
			<thead>
			<th><h4 style="text-align:center;">最近浏览</h4></th>
			</thead>
			{% for vid in recent_videos %}
			<tr><td><a href="{{ vid.get_absolute_url }}">{{ vid.share_message }}</a><br/>
				{% if forloop.counter == 1 %}
				<!--<a href="{{ vid.get_absolute_url }}"><img src="{{ vid.category.get_image_url }}" class='img-responsive'/></a><br/>-->
				{% endif %}</td></tr>
			{% endfor %}
			</table>
	{% else %}
			<table class='table'>
			<thead>
			<th><h4 style="text-align:center;">最近浏览的视频将显示在这里</h4></th>
			</thead>
			{% for vid in recent_videos %}
			<tr><td><a href="{{ vid.get_absolute_url }}">{{ vid.share_message }}</a><br/>
				{% if forloop.counter == 1 %}
				<!--<a href="{{ vid.get_absolute_url }}"><img src="{{ vid.category.get_image_url }}" class='img-responsive'/></a><br/>-->
				{% endif %}</td></tr>
			{% endfor %}
			</table>
	{% endif %}
</div>
</div>

	<!--点击次数最多的5个视频-->
	
		<div class='col-sm-6' >
		<div class='bestcourse'>
		{% if popular_videos %}
			<table class='table'>
			<thead>
			<th><h4 style="text-align:center;">最火课程</h4></th>
			</thead>
			{% for vid in popular_videos %}
			<tr><td><a href="{{ vid.get_absolute_url }}">{{ vid.share_message }}</a><br/>
			{% if forloop.counter == 1 %}
			<!--<a href="{{ vid.get_absolute_url }}"><img src="{{ vid.category.get_image_url }}" class='img-responsive'/></a><br/>-->
			{% endif %}</td></tr>
			{% endfor %}
		</table>
		</div>
	{% endif %}
	</div>
	</div>

{% endblock %}