{% extends "base_1.html" %}

<style>
{% block style %}
  .return {
    color: 	white;
}
{% endblock %}
</style>

{% block content %}
<!-- <div class='row'>
<div class='col-sm-12 '>
<br/>
</div>
</div> -->
<!-- <div class='row'>
	<div class='col-sm-4'>
</div>
	<div class='col-sm-4'> -->

<div class="container">
      <div class="page-header">
        <h3>联系方式:</h3>
      </div>
     <h4>			
      	<span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;不良人</span><br>
		<span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;中国 北京</span><br>
		<span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;shenanping2008@Hotmail.com</span><br>	
	</h4>
    </div>


<!-- 		<address>
		<strong>联系方式:</strong><br>
			<span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;不良人</span><br>
			<span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;中国 北京</span><br>
			<span class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp;shenanping2008@Hotmail.com</span><br>			
		</address> -->
<!-- </div>
	<div class='col-sm-4'>
</div>
</div> -->
{% endblock %}